/* IMPORTAR UNA TIPOGRAFIA */

*{
    padding: 0;
    margin: 0;
}

section{
    width: 100%;
    text-align: center;
    background: #221919;
    padding: 120px 0;
    min-height: 100vh;
}

h1{
    color: #6a00ff;
    font-size: 50px;
}

h2{
    color:#6a00ff;
    font-size: 34px;
    margin: 20px 0;
    transition: .25s;
    cursor: pointer;
}

h2:hover{
    transform: scale(1.2);
    text-shadow: 0 0px aqua;
}

p{
    color: white;
    font-size: 33px
}

#con-botones{
    width: 80%;
    margin: 50px auto;
}

button{
    padding: 14px 30px;
    background: transparent;
    border: 2px solid #6a00ff;
    color: #6a00ff;
    margin: 10px;
    transition: .3s;
    cursor: pointer;
}

button:hover{
    background: #6a00ff;
    color: #000;
    border-radius: 30px;
    box-shadow: 0 0 7px 2px #6a00ff;
}